@model Entities.Product.Product
@using Entities.Product;


@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Areas/Admin/Views/Shared/_adminThemplate.cshtml";
}

<h1>لیست محصولات</h1>


<div class="card card-flush">
    <div class="card-body ">
        <form  class="form" method="post"
              action="@Url.Action("ProductList")"
              asp-antiforgery="true">
            <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='createproduct'">
                    <span class="indicator-label">افزودن محصول</span>
                </button>
                <p></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th> نام محصول </th>
                        <th>توضیحات محصول  </th>
                        <th>  خلاصه توضیحات محصول</th>
                        <th>محصول ویژه  </th>
                        <th>  عکس محصول</th>
                        <th>سایز محصول  </th>
                        <th>  رنگ محصول</th>
                        <th> ویرایش</th>
                        <th> حذف</th>
                        
                        
                    </tr>
                </thead>
                <tbody>
                   @* @foreach (var p in )
                    {
                        <tr>

                            <td>@p.Id</td>
                            <td>@p.productName</td>
                            <td>@p.productDescription</td>
                            <td>@p.productSummery</td>
                            <td>@p.IsSpecial</td>
                            <td>@p.productCategory</td>
                            <td>@p.Images</td>
                            <td>@p.sizes</td>
                            <td>@p.colors</td>
                        </tr>
                    }*@
                </tbody>
            </table>
</form>
    </div>
</div>




