@model IEnumerable<Entities.Product.Product>
@using Entities.Product;


@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Areas/Admin/Views/Shared/_adminThemplate.cshtml";
}

<h1>لیست محصولات</h1>


<div class="card card-flush">
    <div class="card-body ">
        <form class="form" method="post"
              action="@Url.Action("ProductList")"
              asp-antiforgery="true">
            <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='createproduct'">
                <span class="indicator-label">افزودن محصول</span>
            </button>
            <p></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th> نام محصول </th>
                        <th>توضیحات محصول  </th>
                        <th>  خلاصه توضیحات محصول</th>
                        <th>محصول ویژه  </th>
                        <th>  عکس محصول</th>
                        <th>سایز محصول  </th>
                        <th>  رنگ محصول</th>
                        <th> ویرایش</th>
                        <th> حذف</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var p3 in Model)
                    {
                        <tr>
                            <td>@p3.Id</td>
                            <td>@p3.productName</td>
                            <td>@p3.productDescription</td>
                            <td>@p3.productSummery</td>
                            <td>@p3.IsSpecial</td>
                            <td>@p3.productCategory</td>

                            <td>
                                <img src="~/upload/p3.urlProduct" />
                                @p3.Images
                                </td>
                            <td>@p3.sizes</td>
                            <td>@p3.colors</td>


                            <td>@p3.productName</td>

                            <td>
                                <a href="/admin/dashbord/deletegroup?id=@p3.Id" class="btn btn-danger btn-sm">
                                    <span class="indicator-label">حذف</span>
                                </a>
                            </td>
                            <td>
                                <a href="/admin/dashbord/CreateGroup?id=@p3.Id" class="btn btn-light btn-sm">
                                    <span class="indicator-label">ویرایش</span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    </div>
</div>





